<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YiZhiChan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C1752D31CAE04A200C4FC1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C1752EC1CAE04A300C4FC1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C1752F71CAE04A300C4FC1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
